version: 2
registries:
  private:
    type: python-index
    url: http://pypi.prod.monline/simple/
updates:
  - package-ecosystem: "pip"
    registries:
      - private
    directory: "/requirements"
    insecure-external-code-execution: allow
    schedule:
      interval: "daily"
    open-pull-requests-limit: 5
    labels:
      - "dependencies"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
  - package-ecosystem: "docker"
    directory: "/docker"
    schedule:
      interval: "daily"
