name: Copier Updates

on:
  workflow_dispatch:
  schedule:
    - cron: "0 5 * * 0"

jobs:
  update:
    permissions:
      contents: write
      pull-requests: write
    runs-on: monline-generic
    steps:
    - uses: sigfriedcub1990/copier-update@master
